@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-100 {
    animation-delay: 100ms;
  }

  .animation-delay-200 {
    animation-delay: 200ms;
  }
}

@keyframes progress-indeterminate {
  0% {
    width: 0%;
    margin-left: 0%;
  }

  50% {
    width: 50%;
    margin-left: 25%;
  }

  100% {
    width: 100%;
    margin-left: 100%;
  }
}

.animate-progress-indeterminate {
  animation: progress-indeterminate 1.5s infinite linear;
}